
<!-- Modal -->
<!--
<div class="modal" id="modal_cancel-registration" tabindex="-1" role="dialog"
     aria-labelledby="modal_cancel-registration"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <img src="img/svg/close.svg" alt="">
        </span>
      </button>
      <div class="h2">Отмена регистрации</div>
      <div class="item-textarea">
        <label for="coments" class="inp">
          <textarea name="coments"  id="coments" placeholder="&nbsp;" required></textarea>
          <span class="label">Комментарий DME</span>
        </label>
      </div>
      <div class="button-row">
        <button type="reset" class="btn btn_grey_light">Отмена</button>
        <button type="submit" class="btn btn_grean" onclick="$('.information').hide()" data-dismiss="modal" aria-label="Close">Подтвердить</button>
      </div>


      </form>
    </div>
  </div>
</div>-->





<script src="js/main.min.js"></script>